<a href="https://colab.research.google.com/github/cpython-projects/E1402/blob/main/session_03_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/cpython-projects/E1402/refs/heads/main/session_03_part_2.csv", delimiter=",", encoding='utf-8')

In [ ]:
df

,Unnamed: 0,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
5,5,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs
6,6,7,George,M,29,NaN,2020-05-30,Germany,80kg
7,7,8,Hannah,F,33,150000.0,"July 4, 2018",France,180lbs
8,8,9,Isaac,M,45,200000.0,06-01-2017,France,90kg
9,9,10,Jack,M,Twenty,250000.0,2016-09-15,Brazil,200lbs
10,10,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
11,11,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs

### Handle Duplicates

**Checking for Exact Duplicates**

**df.drop_duplicates()**

### Handling Incorrect Formats

**Numeric data stored as strings**

**Dates stored as strings**

**Categorical data stored as strings/numbers**

### Handling Common Inconsistencies

**Text: Mixed cases and extra spaces**

**Units: Inconsistent measurements**

**Categories: Different spellings**

### Handling Missing Values

**df.dropna()**

**df.dropna(axis=1)**

**df.fillna(0)**

**df.fillna(df.mean())**

**df.fillna(df.median())**

**df.fillna(method='ffill')**

**df.fillna(method='bfill')**

**df.interpolate()**

**Fill df**

### Handling Outliers

**Detecting outliers using Interquartile Range (IQR)**

### Identifying the Highest-Paid Employees by Country

### Calculating Average Age of Employees