<a href="https://colab.research.google.com/github/cpython-projects/E1402/blob/main/session_03_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/cpython-projects/E1402/refs/heads/main/session_03_part_2.csv", delimiter=",", encoding='utf-8')

In [12]:
df.head()

,Unnamed: 0,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg

In [13]:
df.columns.to_list()

['Unnamed: 0',
 'ID',
 'Name',
 'gender',
 'Age',
 'Salary ($)',
 'Hire Date',
 'Country',
 'Weight']

In [16]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [17]:
df.head()

,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg

In [20]:
df.rename(columns={
    'ID': 'id',
    'Name': 'name',
    'Gender': 'gender',
    'Age': 'age',
    'Salary ($)': 'salary',
    'Hire Date': 'hire_date',
    'Country': 'country',
    'Weight': 'weight'
}, inplace=True)

In [21]:
df

,id,name,gender,age,salary,hire_date,country,weight
0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
5,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs
6,7,George,M,29,NaN,2020-05-30,Germany,80kg
7,8,Hannah,F,33,150000.0,"July 4, 2018",France,180lbs
8,9,Isaac,M,45,200000.0,06-01-2017,France,90kg
9,10,Jack,M,Twenty,250000.0,2016-09-15,Brazil,200lbs
10,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
11,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs

### Handle Duplicates

**Checking for Exact Duplicates**

In [25]:
df.duplicated().sum()

np.int64(0)

**df.drop_duplicates()**

In [24]:
df.drop_duplicates(inplace=True)

### Handling Incorrect Formats

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   name       10 non-null     object
 2   gender     10 non-null     object
 3   age        9 non-null      object
 4   salary     8 non-null      float64
 5   hire_date  10 non-null     object
 6   country    10 non-null     object
 7   weight     10 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 720.0+ bytes

**Numeric data stored as strings**

In [27]:
df.age.unique()

array(['25', 'Thirty', '40', '22', nan, '35', '29', '33', '45', 'Twenty'],
      dtype=object)

In [30]:
df.age = df.age.replace({
    'Thirty': '30',
    'Twenty': '20'
})

In [31]:
df.age.unique()

array(['25', '30', '40', '22', nan, '35', '29', '33', '45', '20'],
      dtype=object)

In [37]:
df.age = pd.to_numeric(df.age, errors='coerce')
df.age

0    25.0
1    30.0
2    40.0
3    22.0
4     NaN
5    35.0
6    29.0
7    33.0
8    45.0
9    20.0
Name: age, dtype: float64

**Dates stored as strings**

In [33]:
df.hire_date.unique()

array(['2023-01-10', '2022-12-05', '01/15/2021', 'March 1, 2020',
       '2021-07-20', '08/10/2019', '2020-05-30', 'July 4, 2018',
       '06-01-2017', '2016-09-15'], dtype=object)

In [34]:
pd.to_datetime(df['hire_date'], errors='coerce')

0   2023-01-10
1   2022-12-05
2          NaT
3          NaT
4   2021-07-20
5          NaT
6   2020-05-30
7          NaT
8          NaT
9   2016-09-15
Name: hire_date, dtype: datetime64[ns]

In [35]:
from dateutil.parser import parse

def date_converter(date):
    try:
        return parse(date)
    except:
        return None

df.hire_date = df.hire_date.apply(date_converter)

In [36]:
df.hire_date

0   2023-01-10
1   2022-12-05
2   2021-01-15
3   2020-03-01
4   2021-07-20
5   2019-08-10
6   2020-05-30
7   2018-07-04
8   2017-06-01
9   2016-09-15
Name: hire_date, dtype: datetime64[ns]

**Categorical data stored as strings/numbers**

In [39]:
df.gender = df.gender.astype('category')
df.gender

0    F
1    M
2    M
3    M
4    F
5    M
6    M
7    F
8    M
9    M
Name: gender, dtype: category
Categories (2, object): ['F', 'M']

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   name       10 non-null     object
 2   gender     10 non-null     category
 3   age        9 non-null      float64
 4   salary     8 non-null      float64
 5   hire_date  10 non-null     datetime64[ns]
 6   country    10 non-null     object
 7   weight     10 non-null     object
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 774.0+ bytes

### Handling Common Inconsistencies

**Text: Mixed cases and extra spaces**

In [41]:
df.country.unique()

array(['USA', 'U.S.A.', 'UK', 'United Kingdom', 'canada', 'Canada',
       'Germany', 'France', 'Brazil'], dtype=object)

In [42]:
df.country = df.country.str.strip().str.title()
df.country.unique()

array(['Usa', 'U.S.A.', 'Uk', 'United Kingdom', 'Canada', 'Germany',
       'France', 'Brazil'], dtype=object)

In [43]:
df.country.replace(
    {
        'Usa': 'USA',
        'U.S.A.': 'USA',
        'United Kingdom': 'UK',
        'Uk': 'UK'
    },
    inplace=True
)

In [44]:
df.country.unique()

array(['USA', 'UK', 'Canada', 'Germany', 'France', 'Brazil'], dtype=object)

**Units: Inconsistent measurements**

In [45]:
df.weight.unique()

array(['70kg', '154lbs', '65kg', '140lbs', '75kg', '165lbs', '80kg',
       '180lbs', '90kg', '200lbs'], dtype=object)

In [46]:
def weight_converter(item):
  if 'kg' in item:
    return float(item.replace('kg', ''))
  if 'lbs' in item:
    return float(item.replace('lbs', '')) * 0.453592
  return float(item)

df['weight_kg'] = df.weight.apply(weight_converter)

In [47]:
df

   id     name gender   age    salary  hire_date  country  weight  weight_kg
0   1    Alice      F  25.0   50000.0 2023-01-10      USA    70kg  70.000000
1   2    Bob        M  30.0   60000.0 2022-12-05      USA  154lbs  69.853168
2   3  CHARLIE      M  40.0       NaN 2021-01-15       UK    65kg  65.000000
3   4     Dave      M  22.0   70000.0 2020-03-01       UK  140lbs  63.502880
4   5      Eve      F   NaN   80000.0 2021-07-20   Canada    75kg  75.000000
5   6    Frank      M  35.0  120000.0 2019-08-10   Canada  165lbs  74.842680
6   7   George      M  29.0       NaN 2020-05-30  Germany    80kg  80.000000
7   8   Hannah      F  33.0  150000.0 2018-07-04   France  180lbs  81.646560
8   9    Isaac      M  45.0  200000.0 2017-06-01   France    90kg  90.000000
9  10     Jack      M  20.0  250000.0 2016-09-15   Brazil  200lbs  90.718400

**Categories: Different spellings**

### Handling Missing Values

In [49]:
df.age.unique()

array([25., 30., 40., 22., nan, 35., 29., 33., 45., 20.])

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   name       10 non-null     object
 2   gender     10 non-null     category
 3   age        9 non-null      float64
 4   salary     8 non-null      float64
 5   hire_date  10 non-null     datetime64[ns]
 6   country    10 non-null     object
 7   weight     10 non-null     object
 8   weight_kg  10 non-null     float64
dtypes: category(1), datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 854.0+ bytes

**df.dropna()**

**df.dropna(axis=1)**

**df.fillna(0)**

**df.fillna(df.mean())**

**df.fillna(df.median())**

In [50]:
df.age.fillna(df.age.median(), inplace=True)
df.salary.fillna(df.salary.median(), inplace=True)

/tmp/ipython-input-3146979239.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.age.fillna(df.age.median(), inplace=True)
/tmp/ipython-input-3146979239.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.salary.fillna(df.salary.median(), inplace=True)

**df.fillna(method='ffill')**

**df.fillna(method='bfill')**

**df.interpolate()**

**Fill df**

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   name       10 non-null     object
 2   gender     10 non-null     category
 3   age        10 non-null     int64
 4   salary     10 non-null     float64
 5   hire_date  10 non-null     datetime64[ns]
 6   country    10 non-null     object
 7   weight     10 non-null     object
 8   weight_kg  10 non-null     float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 854.0+ bytes

In [52]:
df.age = df.age.astype('int')

### Handling Outliers

**Detecting outliers using Interquartile Range (IQR)**

### Identifying the Highest-Paid Employees by Country

### Calculating Average Age of Employees